/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .company {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: max-content; /* Adjust as needed */
    height: max-content;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  
  h1, h2, h3 {
    color: #333;
  }
  
  /* Select styles */
  .selector {
    margin-bottom: 20px;
  }
  
  select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 
  
  .container {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
  }
  
  .container h1 {
    font-size: 20px;
  }
  
  .container h2 {
    font-size: 16px;
    color: #666;
  }
  
  .container h3 {
    font-size: 14px;
    color: #999;
  }
  
  /* Video styles */
  video {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Link styles */
  a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #0056b3;
  }